<!DOCTYPE html>
<meta charset="utf-8">
<head>
	<!-- add title -->
  <title>Home</title>
  <meta charset="utf-8">	
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />  
  <!-- import required libraries here -->    
  
</head>

<body>
  <span class="content_text">
    <ul>
      <li><a href="{{ url_for('robot_route')}}">Toy Robot</a>: Toy Robot Simulation.</li>
    </ul>
  </span>
</body>
