<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Robot</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='robot/assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='robot/assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="{{ url_for ('static', filename='robot/images/logo.svg')}}" alt="" /></span>
						<h1>Toy Robot</h1>
						<p>Output: {{ report }}</p>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#command">Input Commands</a></li>
							<li><a href="#file">Input Files</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Introduction</h2>
										</header>										
									</div>
								</div>										
								<h3>The Annonymous Toy Robot</h3>
								<blockquote>Who am I you ask? I am... I am.</blockquote>

								<p>Hello, I am a toy robot created by <b>neozhonghao</b> and my job is to move around the table without falling off.</p>
								<div class="col-6 col-12-medium">
									<h3>Rules</h3>
									<ul>
										<li>The tabletop is a square with dimensions of 5 x 5.</li>
										<li>There are no obstructions on the table surface.</li>
										<li>I am free to roam around the surface of the table without falling off the table.</li>
										<li>Any movement resulting me to fall off the table is prohibited, but subsequent valid actions must still be allowed.</li>
										<li>However, subsequent valid actions must still be allowed.</li>
										<li>The origin (0,0) is set to be the SOUTH WEST most corner.</li>
										<li>The commands are <code>PLACE</code>, <code>MOVE</code>, <code>LEFT</code>, <code>RIGHT</code> and <code>REPORT</code></li>
										<li>The first command must be <code>PLACE</code>. Ignore all other commands until <code>PLACE</code> is set.</li>
										<li>Command <code>PLACE</code> may be used multiple times.</li>
										<li><code>MOVE</code> will move me one unit in the direction I'm facing.</li>
										<li><code>LEFT</code> and <code>RIGHT</code> will rotate me 90 deg left and right respectively.</li>
									</ul>
								</div>
								
								<div class="col-6 col-12-medium">
									<h3>Examples</h3>
									<pre>
<code>PLACE 0,0,NORTH
MOVE
REPORT
Output: 0,1,NORTH

PLACE 0,0,NORTH
LEFT
REPORT
Output: 0,0,WEST

PLACE 1,2,EAST
MOVE
MOVE
LEFT
MOVE
REPORT
Output: 3,3,NORTH</code>
									</pre>
								</div>								

							</section>

						<!-- First Section -->
							<section id="command" class="main special">
								<header class="major">
									<h2>Input Commands</h2>
								</header>

								<section>
									<h2>Input Your Commands Here!</h2>
									<form method="post" action="{{ url_for('robot_route')}}" enctype = "multipart/form-data">
										<div class="row gtr-uniform">
											<div class="col-12">
												<textarea name="command" id="command" placeholder="Enter your commands" rows="6"></textarea>
											</div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Send Commands" class="primary" /></li>
													<li><input type="reset" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>									
								</section>
							</section>

						<!-- Second Section -->
							<section id="file" class="main special">
								<header class="major">
									<h2>Input Files</h2>
									<p>Upload your commands in a text file!</p>
								</header>

								<form method="post" action="{{ url_for('robot_route')}}" enctype = "multipart/form-data">
									<input type="file" id="file.txt" name="file.txt">
									<button type="submit" class='button icon solid fa-upload'>Submit</button>
								</form>
							</section>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<ul class="actions">
								<li><a href="{{ url_for('index')}}" class="icon fa-user button">Home</a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='robot/assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='robot/assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='robot/assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='robot/assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='robot/assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='robot/assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='robot/assets/js/main.js') }}"></script>

	</body>
</html>